@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400;600;700&display=swap');

body{
    background-color: black;
}
.navbar{
    background-color: #1B1B1B;
    color: #9C9C9C;
    display: flex;
    justify-content: space-around;
    padding: 14px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
margin:0 25px 0 25px;
}